.othersLuart {
  text-align: center;
  margin-top: 7em;
}
.othersLuart > h2 {
  margin-bottom: 2em;
}

.othersImages {
  display: flex;
  justify-content: center;
  gap: 3em;
}

.othersImages > img {
  width: 552px;
}
.othersImages a {
  margin-bottom: -8px;
}

@media (max-width: 920px) {
  .othersLuart h2 {
    font-size: 24px;
    line-height: 28px;
    margin-inline: 2em;
  }
  .othersLuart .othersImages {
    gap: 1em;
  }
  .othersImages img {
    width: 100%;
  }
}
