.othersLuart {
  text-align: center;
  margin-top: 7em;
}
.othersLuart > h2 {
  margin-bottom: 2em;
}

.othersImages {
  display: flex;
  justify-content: center;
  gap: 3em;
}

.othersImages > img {
  width: 552px;
}
.othersImages a {
  margin-bottom: -8px;
}
