.staking {
  margin: 0;
  padding: 0;
}

.staking .groupText {
  text-align: left;
  font-size: 32px;
  width: 1200px;
  margin: auto;
  padding: 4em 0 1em 0;
}

.staking .groupText > h2 {
  font-family: var(--ff-joyride-EXT);
  margin: 0;
}

.staking .groupText > p {
  font-size: 24px;
  line-height: 32px;
  opacity: 48%;
  width: 1000px;
  padding: 1em 0 0 0;
}

.staking .groupImg {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  margin-top: 2em;
  gap: 1.5em;
}

.staking .groupText img {
  min-width: 48%;
  max-width: 48%;
}

.staking .groupText img:last-of-type {
  margin: auto;
  min-width: 60%;
}
