body {
  margin: 0;
  padding: 0;
}

.group {
  display: grid;
  grid-template-columns: 49.5% 1px 49.5%;
  grid-template-rows: 547px;
  color: #fff;
}

h2 {
  text-transform: uppercase;
  font-family: var(--ff-joyride-WIDE);
  font-size: 32px;
  line-height: 36px;
}

/* Luart Group Section*/

.luartLeft {
  text-align: right;
}

.luartRight {
  margin: 6.75em 6em auto;
}

.luartRight > p {
  font-size: 16px;
  font-weight: 400;
  max-width: 465px;
  line-height: 22px;
}

.group p:first-child {
  opacity: 48%;
}

.group button {
  color: #fff;
  margin-top: 4em;
  padding: 12px 24px;
  line-height: 22px;
  font-weight: 400;
  font-size: 16px;
  font-family: var(--ff-normal);
  transition: 0.2s;
  background: #212121;
  mix-blend-mode: screen;
  border: 1px solid rgba(255, 255, 255, 0.16);
  border-radius: 4px;
  cursor: pointer;
}

.group button:hover,
.group button:focus {
  background-color: rgba(33, 33, 33, 0.8);
}

.group button > img {
  padding-left: 1em;
}

/* Croswap Group Section */

.products .croswap {
  background-image: url(../../images/bg.png);
}

.croswapRight > img.earnImg {
  margin: 0;
  mix-blend-mode: normal;
}

.croswapLeft {
  margin: 6em 6em 6.75em auto;
}

.croswapLeft > p {
  max-width: 465px;
}

/* Terra Aliens Group Section */

.terraAliensLeft {
  text-align: right;
}

.terraAliensRight {
  margin: 6.75em 6em auto;
}

.terraAliensRight > p {
  max-width: 465px;
}

button.unavailable {
  color: rgba(255, 255, 255, 0.16);
}

.middleDivider:first-of-type {
  margin-top: -50px;
  height: 120%;
}

@media (max-width: 920px) {
  .middleDivider {
    display: none;
  }
  .group {
    display: block;
  }
  .group img {
    width: 100%;
  }
  .group h2 {
    font-size: 28px;
    line-height: 24px;
  }
  .group button {
    margin-block: 1em;
  }
  .group button img {
    width: unset;
  }
  .luartRight {
    margin: 0;
    padding: 1em 2em;
  }

  .croswapLeft {
    margin: 0;
    padding: 1em 2em;
  }

  .terraAliensRight {
    margin: 0;
    padding: 1em 2em;
  }
}
