.rarity {
  margin: 0;
  padding: 0;
}

.rarity .groupText {
  text-align: left;
  font-size: 32px;
  width: 1200px;
  margin: auto;
  padding: 4em 0 0 0;
}

.rarity .groupText > h2 {
  font-family: var(--ff-joyride-EXT);
  margin: 0;
}

.rarity .groupText p {
  font-size: 24px;
  line-height: 32px;
}

.rarity .groupText > p {
  margin: 1em 0 0 0;
  width: 1000px;
  opacity: 48%;
}

.rarity .groupText li {
  opacity: 48%;
}

.groupText ul {
  margin-block: 0;
}

.rarity li > p {
  margin: 0;
}

.rarity .groupText a {
  color: #fff;
  opacity: 1;
}

.rarity .groupText > img {
  margin: 3em 0 0 0;
  padding: 0;
}

.rarity .groupImg {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  margin-top: 2em;
  gap: 1em;
}

.rarity .groupImg img {
  width: 45%;
}

.rarity .groupText .groupImg > img:last-of-type {
  margin: auto;
  min-width: 60%;
}

@media (max-width: 920px) {
  .rarity .groupText {
    width: unset;
    margin: 0;
    padding: 3em 1em 1em 1em;
  }
  .rarity .groupText > h2 {
    font-size: 24px;
    line-height: 28px;
  }
  .rarity .groupText p {
    font-size: 16px;
    line-height: 20px;
    width: unset;
  }
  .rarity .groupText li {
    font-size: 16px;
    line-height: 20px;
    width: unset;
  }

  .rarity img {
    width: 100%;
  }
  .rarity .groupImg img {
    width: 100%;
  }
}
