.designNFTs {
  margin: 0;
  padding: 0;
}

.designNFTs .groupText {
  text-align: left;
  font-size: 32px;
  width: 1200px;
  margin: auto;
  padding: 4em 0 0 0;
}

.designNFTs .groupText > h2 {
  font-family: var(--ff-joyride-EXT);
  margin: 0;
}

.designNFTs .groupText > p {
  font-size: 24px;
  margin: 1em 0 0 0;
  line-height: 32px;
  opacity: 48%;
  width: 1000px;
}

.designNFTs .groupText > img {
  margin: 3em 0 0 0;
  padding: 0;
}

@media (max-width: 920px) {
  .designNFTs .groupText {
    width: unset;
    margin: 0;
    padding: 3em 1em 1em 1em;
  }
  .designNFTs .groupText > h2 {
    font-size: 24px;
    line-height: 28px;
  }
  .designNFTs .groupText > p {
    font-size: 16px;
    line-height: 20px;
    width: unset;
  }
  .designNFTs img {
    width: 100%;
  }

  .designNFTs img:last-of-type {
    margin-top: 1em;
  }
}
