.marketplace {
  margin-top: 6em;
}

.marketplace .groupText {
  margin-top: 6em;
  width: 1400px;
  margin: auto;
}

.marketplace .groupText > p {
  min-width: 1000px;
  font-size: 24px;
  line-height: 32px;
  opacity: 48%;
}

.marketplace > img {
  margin-top: 3em;
  margin-bottom: 3em;
  width: 100%;
}
