.marketplace {
  text-align: center;
}

.marketplaceText {
  text-align: left;
  font-size: 32px;
  padding: 4em 6em 1em 20%;
}

.marketplaceText > p {
  font-size: 18px;
  max-width: 750px;
  opacity: 48%;
}

.marketplace > img {
  margin-bottom: 3em;
}

.marketplace > img:last-of-type {
  margin-bottom: 7em;
}
