@font-face {
  font-family: "akiraExpanded";
  src: url(../../fonts/akiraExpanded.otf);
}
:root {
  --ff-logo: "akiraExpanded", Helvetica;
  --ff-normal: sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.title {
  margin: 0;
  letter-spacing: -2%;
  text-align: center;
  box-sizing: border-box;
  background-color: #1e1e1e;
  background-image: url(../../images/bg.png);
  mix-blend-mode: luminosity;
}

.title > h1 {
  margin: 0;
  padding-top: 8rem;
  font-family: var(--ff-akira);
  color: #fff;
  font-weight: 800;
  font-size: 68px;
  line-height: 78px;
  text-align: center;
  background: linear-gradient(86.76deg, #c5bed2 0%, #faf5f0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  mix-blend-mode: luminosity;
}

.title > p {
  font-family: var(--ff-normal);
  color: #fff;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  line-height: 32px;
  margin-top: 1em;
}

.title > button.buttonTransparent {
  padding: 12px 24px;
  font-size: 20px;
  line-height: 30px;
  background-color: #212121;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.16);
  border-radius: 4px;
  margin: 2em 1em 200px;
}

.title > button.buttonFilled {
  padding: 12px 24px;
  font-size: 20px;
  line-height: 30px;
  background-color: #212121;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.16);
  border-radius: 4px;
  mix-blend-mode: screen;
}

hr {
  border: 1px solid #292929;
}
