.title {
  position: relative;
  z-index: 5;
  margin: 0;
  letter-spacing: -2%;
  text-align: center;
  box-sizing: border-box;
  background-color: transparent;
  mix-blend-mode: screen;
}

.title > h1 {
  margin: 0;
  padding-top: 19.6rem;
  font-family: var(--ff-joyride-EXT);
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  font-size: 68px;
  line-height: 66px;
  background: linear-gradient(86.76deg, #c5bed2 0%, #faf5f0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  mix-blend-mode: luminosity;
}

.title > p {
  font-family: var(--ff-normal);
  color: #fff;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  line-height: 32px;
  margin-top: 2em;
}

.title button.buttonTransparent {
  padding: 12px 24px;
  font-size: 20px;
  font-family: var(--ff-normal);
  line-height: 30px;
  transition: 0.2s;
  background-color: transparent;
  mix-blend-mode: screen;
  color: #fff;
  z-index: 6;
  border: 1px solid rgba(255, 255, 255, 0.16);
  border-radius: 4px;
  margin: 4em 1em 238px;
  cursor: pointer;
}

.title a button.buttonTransparent:hover,
.title a button.buttonTransparent:focus {
  background-color: rgba(33, 33, 33, 0.2);
}

.title button.buttonFilled {
  padding: 12px 24px;
  font-size: 20px;
  font-family: var(--ff-normal);
  line-height: 30px;
  transition: 0.2s;
  background-color: #212121;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.16);
  border-radius: 4px;
  letter-spacing: -0.02em;
  mix-blend-mode: screen;
  cursor: pointer;
}

.title button.buttonFilled:hover,
.title button.buttonFilled:focus {
  background-color: rgba(33, 33, 33, 0.8);
}

span.longCharacterALT {
  font-family: var(--ff-joyride-ALT);
}

hr {
  border: 1px solid #292929;
}

@media (max-width: 920px) {
  .title h1 {
    padding-top: 10em;
    font-size: 24px;
    line-height: 22px;
    margin-inline: 1em;
  }

  .title p {
    font-size: 16px;
    line-height: 20px;
    margin-block: 3em 5em;
    max-width: 750px;
    margin-inline: 2em;
  }

  .title button.buttonTransparent {
    margin: 2em 0 7em 0;
  }
  .title a button.buttonFilled {
    font-size: 16px;
  }
  .title a button.buttonTransparent {
    font-size: 16px;
  }
  .buttonGroup {
    display: flex;
    flex-flow: column;
  }
}
