body {
  margin: 0;
  padding: 0;
}

.about {
  margin: 0;
  background-image: url(../../images/bg.png);
}

.about .panels {
  margin: 0;
  font-family: var(--ff-joyride-EXT);
  color: #fff;
  display: grid;
  grid-template-columns: 49.5% 1px 49.5%;
}

.panels .left {
  margin: 13em 0.5em 13em auto;
}

.about .panels .left > p {
  margin: 0;
  font-size: 20px;
  max-width: 450px;
  font-family: var(--ff-normal);
  line-height: 27px;
  font-weight: 400;
}

.about .panels .left > h2 {
  max-width: 550px;
}

span.transparentText {
  opacity: 48%;
}

.about .panels .left > h2 {
  margin-block: 64px 16px;
}

.about .panels .right {
  font-family: var(--ff-normal);
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  margin: 214px 110px;
}
.about .panels .right p {
  margin: 0;
}

b.opacityText {
  opacity: 48%;
  text-decoration: none;
}

hr {
  margin: 0;
}

.about .middleDivider {
  height: 112%;
}

@media (max-width: 920px) {
  .about .panels {
    display: block;
  }
  .about .panels .left {
    margin: 0;
    padding: 6em 2em 2em 2em;
  }
  .about h2 {
    font-size: 24px;
    line-height: 22px;
  }
  .about .panels .right {
    margin: 0;
    padding: 1.4em;
  }
}
