@font-face {
  font-family: "akiraExpanded";
  src: url(../../fonts/akiraExpanded.otf);
}
:root {
  --ff-akira: "akiraExpanded", Helvetica;
  --ff-normal: sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.about {
  margin: 0;
}

.panels {
  margin: 0;
  font-family: var(--ff-akira);
  color: #fff;
  display: flex;
}

.panels .left {
  margin: 214px 159px;
}

.panels .left > p {
  margin: 0;
  font-family: var(--ff-normal);
  line-height: 20px;
  font-weight: 400;
  width: 400px;
}

.panels .left > h2 {
  margin-block: 64px 16px;
}

.panels .right {
  font-family: var(--ff-normal);
  font-size: 24px;
  line-height: 32px;
  margin: 214px 110px;
}
.panels .right > p {
  margin: 0;
}

.lines {
  margin-top: 149px;
  display: flex;
  gap: 16px;
}

.line {
  width: 64px;
  background-color: #d9d9d9;
  opacity: 48%;
}

.line:first-child {
  opacity: 1;
}

hr {
  margin: 0;
}
