body {
  margin: 0;
  padding: 0;
}

.about {
  margin: 0;
  background-image: url(../../images/bg.png);
}

.about .panels {
  margin: 0;
  font-family: var(--ff-joyride-EXT);
  color: #fff;
  display: grid;
  grid-template-columns: 49.5% 1px 49.5%;
}

.panels .left {
  margin: 13em 10em;
}

.about .panels .left > p {
  margin: 0;
  font-size: 20px;
  font-family: var(--ff-normal);
  line-height: 27px;
  font-weight: 400;
}

span.transparentText {
  opacity: 48%;
}

.about .panels .left > h2 {
  margin-block: 64px 16px;
}

.about .panels .right {
  font-family: var(--ff-normal);
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  margin: 214px 110px;
}
.about .panels .right p {
  margin: 0;
}

.about .lines {
  margin-top: 149px;
  display: flex;
  gap: 16px;
}

b.opacityText {
  opacity: 48%;
  text-decoration: none;
}

hr {
  margin: 0;
}

.middleDivider {
  height: 110%;
}
