body {
  margin: 0;
  padding: 0;
}

.navigationContainer {
  z-index: 1;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 6rem;
  font-size: 16px;
  line-height: 24px;
  box-sizing: border-box;
  background-color: transparent;
  mix-blend-mode: luminosity;
}

.navigationContainer img {
  width: 169px;
  height: 21px;
  opacity: 0.8;
}

.navMenu a:nth-child(1),
.navMenu a:nth-child(2),
.navMenu a:nth-child(3) {
  color: #fff;
  margin-right: 2em;
  font-family: var(--ff-normal);
  opacity: 58%;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
}

.navigationContainer a > button {
  padding: 12px 24px;
  font-size: 20px;
  line-height: 30px;
  background-color: transparent;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.16);
  border-radius: 4px;
  letter-spacing: -0.02em;
  mix-blend-mode: screen;
  cursor: pointer;
}

.navigationContainer a:hover {
  opacity: 1;
}

.navigationContainer button:hover,
.navigationContainer button:focus {
  background-color: rgba(33, 33, 33, 0.2);
}

.navigation a.active {
  opacity: 1;
}

@media only screen and (max-width: 900px) {
  .navigationContainer img {
    width: 100px;
    height: 12px;
    opacity: 0.8;
  }

  .navigationContainer {
    padding: 1em 2em;
  }

  .navigationContainer li {
    text-align: left;
    display: none;
  }

  .navigationContainer a > button {
    padding: 6px 12px;
    font-size: 16px;
    line-height: 24px;
    margin-left: 2.3em;
    mix-blend-mode: screen;
    cursor: pointer;
  }
}
