body {
  margin: 0;
  padding: 0;
}

.navigation {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 6rem;
  font-size: 16px;
  line-height: 24px;
  box-sizing: border-box;
  background-color: #1e1e1e;
  mix-blend-mode: luminosity;
}

.navigation img {
  width: 169px;
  height: 21px;
  opacity: 0.8;
}

.navigation button.buttonFilled {
  text-decoration: none;
  padding: 12px 24px;
  font-size: 16px;
  line-height: 24px;
  background-color: #212121;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.16);
  border-radius: 4px;
  mix-blend-mode: screen;
}

.navigation button.buttonFilled:hover,
.navigation button.buttonFilled:focus {
  background-color: rgba(33, 33, 33, 0.8);
}
