.launchpad .groupText {
  width: 1400px;
  margin: auto;
}

.launchpad .groupText > p {
  max-width: 1000px;
  font-size: 24px;
  line-height: 32px;
  opacity: 48%;
}
.launchpad .groupText > p:last-of-type {
  margin-bottom: 3em;
}

.launchpad > img {
  width: 100%;
  margin-bottom: 3em;
}

.launchpad > img:last-child {
  margin-bottom: 7em;
}
