.launchpad .groupText {
  width: 1200px;
  margin: auto;
}

.launchpad .groupText > p {
  max-width: 1000px;
  font-size: 24px;
  line-height: 32px;
  opacity: 48%;
}
.launchpad .groupText > p:last-of-type {
  margin-bottom: 3em;
}

.launchpad > img {
  width: 100%;
  margin-bottom: 3em;
  max-height: 1000px;
  object-fit: cover;
}

.launchpad > img:last-child {
  margin-bottom: 7em;
  max-height: 450px;
  object-fit: cover;
}

@media (max-width: 920px) {
  .launchpad .groupText {
    width: unset;
    margin: 0;
    padding: 0 2em 1em 2em;
  }
  .launchpad .groupText h2 {
    font-size: 24px;
    line-height: 28px;
  }
  .launchpad .groupText p {
    font-size: 16px;
    line-height: 20px;
  }
}
