.headCroswap {
  margin: 0;
  padding: 0;
}

.headCroswap .headText {
  text-align: left;
  font-size: 32px;
  width: 1200px;
  margin: auto;
  padding: 4em 0 1em 0;
}

.headCroswap .headText > h2 {
  font-family: var(--ff-joyride-EXT);
  margin: 0;
}

.headCroswap .headText > p {
  font-size: 24px;
  line-height: 32px;
  opacity: 48%;
  width: 700px;
  padding-bottom: 2em;
}

.headCroswap .headContainer {
  display: flex;
  margin-top: -13.5em;
  margin-bottom: 5em;
}

.headCroswap .headInfo-container {
  display: flex;
  text-align: left;
}

.headCroswap .headGroup {
  margin-top: 15.5em;
  margin-left: -69.25vh;
  overflow: hidden;
}

.headCroswap .headGroup > img {
  margin-top: -19em;
  margin-left: -64vh;
}

.headCroswap .groupItem {
  margin: 0 3em;
}

.headCroswap .groupItem > p {
  margin: 0;
}

.headCroswap .groupItem > p:first-child {
  opacity: 48%;
  margin-bottom: 1rem;
}
