@font-face {
  font-family: "JoyrideALT";
  src: url(../../fonts/JoyrideOTF/Joyride-ALT.otf);
}

@font-face {
  font-family: "JoyrideEXT";
  src: url(../../fonts/JoyrideOTF/Joyride-EXT.otf);
}

@font-face {
  font-family: "JoyrideSTD";
  src: url(../../fonts/JoyrideOTF/Joyride-STD.otf);
}

@font-face {
  font-family: "JoyrideWIDE";
  src: url(../../fonts/JoyrideOTF/Joyride-WIDE.otf);
}

:root {
  --ff-joyride-ALT: "JoyrideALT", Helvetica;
  --ff-joyride-EXT: "JoyrideEXT", Helvetica;
  --ff-joyride-STD: "JoyrideSTD", Helvetica;
  --ff-joyride-WIDE: "JoyrideWIDE", Helvetica;
  --ff-normal: sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

.caseStudies h1 {
  font-size: 48px;
  line-height: 47px;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  padding: 4.5em 0 2em;
  font-family: var(--ff-joyride-EXT);
}

@media (max-width: 920px) {
  .caseStudies h1 {
    font-size: 32px;
    line-height: 30px;
  }
}
