body {
  margin: 0;
  padding: 0;
  color: #fff;
}

.footerCaseStudies {
  background-color: rgba(33, 33, 33, 0.04);
  background-image: url(../../images/bg.png);
  text-align: center;
  padding-bottom: 6em;
}

.footerCaseStudies > h2 {
  margin: 0;
  padding-top: 3em;
  font-family: var(--ff-joyride-WIDE);
  font-size: 32px;
  line-height: 31px;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(86.76deg, #c5bed2 0%, #faf5f0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  mix-blend-mode: luminosity;
}

.footerCaseStudies .footerButton {
  padding: 12px 24px;
  font-size: 20px;
  line-height: 30px;
  background-color: #212121;
  color: #fff;
  transition: 0.2s;
  mix-blend-mode: screen;
  border: 1px solid rgba(255, 255, 255, 0.16);
  border-radius: 4px;
  letter-spacing: -0.02em;
  margin: 2em;
}

.footerCaseStudies .footerButton:hover,
.footerCaseStudies .footerButton:focus {
  background-color: rgba(33, 33, 33, 0.8);
}

.footerCaseStudies .footerGroup {
  display: flex;
  cursor: pointer;
  justify-content: space-around;
  text-align: left;
}

.footerGroup .footerLeft {
  text-align: left;
}

.footerLeft > p {
  text-decoration: none;
  font-size: 16px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.4);
}

.footerLeft > a {
  font-family: var(--ff-normal);
  font-size: 24px;
  opacity: 0.8;
  transition: 0.2s;
  line-height: 32px;
  color: #fff;
}

.footerLeft > a:hover {
  opacity: 1;
}

.footerRight {
  margin-top: 2em;
  display: flex;
  gap: 6em;
}

.footerRight a {
  text-decoration: none;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
}

.footerRight p {
  padding: 0.3em;
  opacity: 0.8;
}

.blockLeft p:hover {
  opacity: 1;
  text-decoration: underline;
}

.blockRight p:hover {
  opacity: 1;
  text-decoration: underline;
}

@media (max-width: 920px) {
  .footerCaseStudies {
    padding-bottom: 0;
  }
  .footerCaseStudies h2 {
    font-size: 24px;
    line-height: 28px;
  }
  .footerCaseStudies .footerButton {
    font-size: 16px;
  }

  .footerCaseStudies .footerGroup {
    display: block;
    padding: 2em;
  }
  .footerCaseStudies .footerLeft p {
    font-size: 14px;
    margin-block: 2em 0;
  }
  .footerCaseStudies .footerLeft a {
    font-size: 20px;
  }
}
