.designSystem {
  margin-top: 6em;
}

.designSystem > .groupText {
  width: 1200px;
  margin: auto;
}
.designSystem .groupText p {
  margin: 1em 0;
  max-width: 1000px;
  font-size: 24px;
  line-height: 32px;
  opacity: 48%;
}

.designSystem img {
  width: 100%;
  margin-top: 5em;
  margin-bottom: -7px;
}
