.timeline {
  overflow: hidden;
}

.timeline > .groupText {
  width: 1200px;
  margin: auto;
}

.timeline .groupText > p {
  width: 1000px;
  margin-bottom: 2em;
  font-size: 24px;
  line-height: 32px;
  opacity: 48%;
}

.timeline > img:last-child {
  margin-top: 3em;
  width: 100%;
}

@media (max-width: 920px) {
  .timeline .groupText {
    width: unset;
    margin: 0;
    padding: 4em 2em 1em 2em;
  }
  .timeline .groupText h2 {
    font-size: 24px;
    line-height: 28px;
  }
  .timeline .groupText p {
    font-size: 16px;
    line-height: 20px;
    width: unset;
  }
  .timeline img {
    width: 100%;
  }
}
