.timeline {
  overflow: hidden;
}

.timeline > .groupText {
  width: 1200px;
  margin: auto;
}

.timeline .groupText > p {
  width: 1000px;
  margin-bottom: 2em;
  font-size: 24px;
  line-height: 32px;
  opacity: 48%;
}

.timeline > img:last-child {
  margin-top: 3em;
  width: 100%;
}
