.workflow {
}

.workflow .groupText {
  width: 1200px;
  margin: auto;
}

.workflow .groupText p {
  font-size: 24px;
  line-height: 32px;
  opacity: 48%;
  margin-bottom: 4em;
}

.workflow-groupTop {
  display: flex;
  justify-content: center;
  gap: 2em;
  margin-bottom: 3em;
}

.workflow-item {
  max-width: 380px;
  font-size: 13px;
  line-height: 17px;
  border: 0.462131px solid #454647;
  border-radius: 7.3941px;
  padding: 24px;
}

.workflow > img {
  width: 100%;
}

.workflow-groupBottom {
  display: flex;
  justify-content: center;
  margin-block: 3em 6em;
  margin-left: 4em;
  gap: 2em;
}

.workflow > img:last-child {
  margin-bottom: 6em;
}

@media (max-width: 920px) {
  .workflow .groupText {
    width: unset;
    margin: 0;
    padding: 4em 2em 1em 2em;
  }
  .workflow .groupText h2 {
    font-size: 24px;
    line-height: 28px;
  }
  .workflow .groupText p {
    font-size: 16px;
    line-height: 20px;
  }

  .workflow h4 {
    font-size: 18px;
    line-height: 22px;
  }
  .workflow img {
    display: none;
  }
  .workflow .workflow-groupTop {
    flex-flow: column;
    margin-top: 0;
    margin-inline: 2em;
  }
  .workflow .workflow-groupBottom {
    flex-flow: column;
    margin-top: -65em;
    margin-inline: 2em 2em;
  }

  .workflow-item {
    margin-bottom: 20em;
  }

  .workflow-item:last-child {
    margin-bottom: 0;
  }
}
