.workflow {
}

.workflow .groupText {
  width: 1400px;
  margin: auto;
}

.workflow .groupText p {
  font-size: 24px;
  line-height: 32px;
  opacity: 48%;
  margin-bottom: 4em;
}

.workflow-groupTop {
  display: flex;
  justify-content: center;
  gap: 2em;
  margin-bottom: 3em;
}

.workflow-item {
  width: 450px;
  border: 0.462131px solid #454647;
  border-radius: 7.3941px;
  padding: 24px;
}

.workflow > img {
  width: 100%;
}

.workflow-groupBottom {
  display: flex;
  justify-content: center;
  margin-block: 3em 6em;
  margin-left: 8em;
  gap: 2em;
}

.workflow > img:last-child {
  margin-bottom: 6em;
}
