body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -2%;
  box-sizing: border-box;
  background-color: #1e1e1e;
}

.intro {
  margin: 0;
  text-align: center;
  background-image: url(../../images/bg.png);
}

.intro > h1 {
  text-transform: uppercase;
  width: 800px;
  padding-top: 300px;
  margin: 0 auto;
  font-size: 32px;
  font-weight: 800;
  line-height: 36px;
  font-family: var(--ff-joyride-EXT);
  color: #fff;
  text-align: center;
  background: linear-gradient(86.76deg, #c5bed2 0%, #faf5f0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  mix-blend-mode: luminosity;
}

.intro > h2 {
  text-transform: uppercase;
  margin: 0 auto;
  width: 1200px;
  padding-block: 2em 300px;
  font-size: 28px;
  font-weight: 800;
  line-height: 36px;
  font-family: var(--ff-joyride-STD);
  color: #fff;
  text-align: center;
  background: linear-gradient(86.76deg, #c5bed2 0%, #faf5f0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  mix-blend-mode: luminosity;
}

hr {
  border: 1px solid #292929;
}

@media (max-width: 920px) {
  .intro h1 {
    padding-top: 8em;
    font-size: 24px;
    padding-inline: 1em;
    line-height: 22px;
    width: unset;
  }

  .intro h2 {
    font-size: 20px;
    line-height: 22px;
    padding-block: 4em 10em;
    padding-inline: 1em;
    width: unset;
  }
}
