.dappCroswap {
  margin: 0;
  padding: 0;
}

.dappCroswap .headText {
  text-align: left;
  font-size: 32px;
  width: 1200px;
  margin: auto;
  padding: 4em 0 1em 0;
}

.dappCroswap .headText > h2 {
  font-family: var(--ff-joyride-EXT);
  margin: 0;
}

.dappCroswap .headText > p {
  font-size: 24px;
  line-height: 32px;
  opacity: 48%;
  width: 1000px;
  padding: 0;
}

.dappCroswap .groupImg {
  display: flex;
  margin-top: 2em;
  gap: 1.5em;
}

.dappCroswap .headText img {
  width: 50%;
}
