.dapp {
  margin-top: 6em;
}

.groupText {
  text-align: left;
}

.dapp .groupText > p {
  opacity: 48%;
  min-width: 1200px;
  margin: 1em 0;
}

.dapp > img {
  margin-top: 3em;
  margin-bottom: -7px;
  width: 100%;
}
