.slider-text {
  width: 450px;
  min-height: 445px;

  color: white;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}

.slider-steps {
  display: flex;
  flex-direction: row;
}

.slider-steps-bar {
  cursor: pointer;
  width: 64px;
  height: 3px;
  background-color: #6a6a6a;
  margin: 10px 15px;
}

.slider-steps-bar-progress {
  height: 3px;
  width: 100%;
}

#active {
  background-color: #fff;
  animation: progress-loading infinite 8000ms linear;
}

@keyframes progress-loading {
  from {
    width: 0%;
  }
  to {
    transform: 100%;
  }
}
